---

---

<footer>
    <p>
        Contact : <a href="mailto:info@brownbaglunch.fr">info@brownbaglunch.fr</a> &ndash; 
        <a href="">@bbl_fr</a>
        &ndash; Design <a href="https://gericci.me/">Ge Ricci</a>
    </p>
    <p>&copy; Brown Bag Lunch, 2025</p>
</footer>